.resume-container {
  padding-top: 5rem;
  background-color: var(--background);
}

.education-text {
  text-align: center;
  font-size: 24px;
  background-color: var(--dark);
  color: white;
  padding: 0.2rem 0;
}

.experience-text {
  text-align: center;
  font-size: 24px;
  background-color: var(--dark);
  color: white;
  padding: 0.2rem 0;
}
.resume-container ul {
  list-style: none;
  margin-bottom: 0;
}

.education-container li {
  margin-bottom: 35px;
}

.education-school {
  text-align: center;
}

.education-date {
  font-style: italic;
  text-align: center;
}

.education-courses {
  text-align: center;
  margin: 0 auto;
  max-width: 750px;
}

.education-organization {
  text-align: center;
}

.experience-company_position {
  text-align: center;
}

.experience-date {
  text-align: center;
  font-style: italic;
}

.experience-description {
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.experience-description li {
  margin-bottom: 5px;
}

.resume-header {
  justify-content: center;
  align-items: center;
  min-height: 350px;
  display: block;
  position: relative;
}

.overlay {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 350px;
  display: flex;
  position: absolute;
  z-index: 1;
  color: white;
}

.overlay h1 {
  font-size: 72px;
}

.header-image {
  filter: contrast(104%) grayscale() brightness(27%);
  background-image: url(../../../assets/web-background.jpg);
  background-position-x: 50%;
  background-position-y: center;
  background-size: cover;
  min-height: 350px;
}

* {
  box-sizing: border-box;
}
