.footer-container {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content p {
  flex: 1;
}
.footer-container a {
  color: white;
  text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
  color: #0077b5;
}

.icon {
  display: flex;
  width: 24px;
  height: 24px;
  color: #0077b5;
  transition: color 0.3s;
}
